#main-container {
    width: 100vw;
    height: 100vh;
    position: relative;
    border: 1px solid #64C9CF;
    box-shadow: 0 0.1rem 1.4rem 0 rgba(100, 201, 207, 0.5);
}


h2 {
    text-align: center;
    padding: 60px 25px;
    font-size: 2.5rem;
}


#trivia-form label {
    font-weight: 600;
    font-size: 1.2rem;
    color: #64C9CF;
}

#trivia-form input, select {
    margin-bottom: 25px;
    padding: 10px;
    border: none;
}


#trivia-form select, input, option {
    font-size: 1rem;
}

#submit {
    font-size: 1.2rem;
    text-align: center;
    border: 1px solid #64C9CF;
    color: #64C9CF;
    background-color: #fff;
    }

#submit:hover {
    cursor: pointer;
    box-shadow: 0 0.2rem 1rem 0 rgba(100, 201, 207, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

select, input {
    width: 70%;
}

