.d-flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.a-center {
    align-items: center;
}

.j-center {
    justify-content: center;
}

.j-between {
    justify-content: space-between;
}