#finalScore {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

ul li {
    color: #64C9CF;
    margin-top: 10px;
    font-size: 2rem;
}

#highScoresList {
    padding-left: 0;
    margin-bottom: 30px;
}


.high-score:hover {
    transform: scale(1.025);
}

