h1 {
   margin-bottom: 100px; 
   font-size: 4rem;
}


  #word {
      font-size: 4rem;
    height: 1.4em;
    padding: 0 14px 0 7px;
  }


.btn {
    margin-right: 40px;
}


/* ANIMACIONES */

  @keyframes blinkAnim {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }




