@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

:root {
   background-color: #E8FFFF;
   font-family: 'Poppins', sans-serif;
}


*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4 {
    color: #41AEA9;
}

ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }

  .container {
    width: 100vw;
    height: 100vh; 
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    font-size: 1.5rem;
    padding: 10px 0;
    width: 200px;
    text-align: center;
    border: 1px solid #64C9CF;
    margin-bottom: 12px;
    color: #64C9CF;
    background-color: #fff;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.2rem 1rem 0 rgba(100, 201, 207, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}   

form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    border: none;
    box-shadow: 0 0.1rem 1.4rem 0 rgba(100, 201, 207, 0.5);
}

input::placeholder {
    color: #aaa;
}

.hidden {
    display: none;
}

/* Estilo para que todos los hijos de mi container midas 100% de ancho */
.container > * {
    width: 100%;
}